* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 20px 0;
}

main {
    background-color: #7fffd4;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atv {
    background-color: #6495ed;
    color: white;
}